.projects {
    display: grid;
    grid-template-columns: repeat(3, 200fr);
    grid-template-rows: repeat(3, 200fr);
}

h1 {
    text-align: center;
}

@media (max-width: 1075px) {
    .projects {
        grid-template-rows: repeat(2, 200fr);
        grid-template-columns: repeat(2, 200fr);
    }

    .projectCard {
        grid-row: span 1;
        grid-column: span 1;
    }
}

@media (max-width: 802px) {
    .projects {
        grid-template-rows: repeat(3, 200fr);
        grid-template-columns: repeat(1, 200fr);
    }

    .projectCard {
        grid-row: span 1;
        grid-column: span 1;
    }
}
