
.info {
    grid-column: 2 / 4;
    margin: 50px;
    padding: 50px;
    grid-row: span 3;
}

.descr p {
    display: inline;
    font-size: 18px;

}

span.skills > h2, span.skills > p{
    font-size: 18px;
    display: inline;
}

.btn {
    all: unset;
    
}

.extLink:link, .extLink:visited {
    text-decoration: none;
    color: black;
    padding-left: 3px;
}

.extLink:hover {
    color: #d54854;
}

.btn {
    display: inline;
}


@media (prefers-color-scheme: dark) {
    body {
        background-color: #292929;
        color: white;
    }

    .extLink:link, .extLink:visited {
        color: white;
    }

    .extLink:hover {
        color: #d54854;
    }
}

@media (max-width: 970px) {
    .info {
        grid-row: 2 / 3;
        grid-column: 2 / 4;
        text-align: center;
        margin: 0px;
        padding: 0px;
        padding-top: 20px;
    }
/* 
    .info {
        padding: 30px 0 0;
    } */

    span.skills > h2, span.skills > p{
        display: block;
        margin: 0;
    }

    div > p {
        display: inline;
    }

}